// COLORS

$blue-whale: #121c37;
$sunset-orange: #fb4d57;
$red-medium-carmine: #b1363d;
$blue-summer-sky: #2fb4e9;
$violet-blackcurrant: #0d1225;
$pacific-blue: #0192cc;
$blue-denim: #0e87b6;
$blue-danube: #538cb7;
$regal-blue: #1a4456;

$play-black: $blue-whale;
$play-dark-blue: $violet-blackcurrant;
$play-red: $sunset-orange;
$play-red-dark: $red-medium-carmine;
$play-blue: $blue-summer-sky;

$brand-primary: $play-dark-blue;
$text-color: $play-black;