.prefooter__outer
	.container
		.row
			.col-xs-12
				.prefooter
					.row
						.col-xs-12.col-ts-3.col-md-2
							+kpn-logo
						.hidden-xs-ls.col-ts-9.col-md-10
							+lp-nav
.footer__outer.hidden-md
	.container
		.row
			.col-xs-12
				.footer
					+lp-footer-nav