- var companyName = 'Play. Personal TV van KPN'

- var logoLink = '/'
- var homeLink = logoLink

- var baseURL = ''

//-- var registratieLink = 'https://www.playvankpn.nl/mijnplay/#/vouchermessage'
- var registratieLink = '#'
